<% include ../partials/header.ejs %>
    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <img src="/uploads/<%= evento.img %>" width="100%"/>
                        <div class="header">
                            <h2>
                                <%= evento.title %><small><%= evento.date %> - <%= evento.hour %></small>
                            </h2>
                        </div>
                        <div class="body">
                            <a href="/local/<%= local._id %>/<%= local.name.replace(/ /g,'') %>"><h2><%= local.name %></h2></a>
                            <p>
                                <%= evento.description %>
                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn btn-danger btn-circle waves-effect waves-circle waves-float"><i class="material-icons">favorite</i></button>
                                    <button class="btn btn-success btn-circle waves-effect waves-circle waves-float"><i class="material-icons">done</i></button>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <small class="alert alert-danger">50<%= evento.likes %></small>
                                    <small class="alert alert-success">10<%= evento.presents %></small>
                                </div>
                            </div>
                            <div id="map" style="width:100%; height:300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% include ../partials/footer.ejs %>
    <script>
        let map;
        let markers = [];
        function addMarker(location) {
            var marker = new google.maps.Marker({
            position: location,
            map: map
            });
            markers.push(marker);
        }
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
            }
        }
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            zoom: 20,
            center: {lat: <%= local.position.lat %>, lng: <%= local.position.lng %>}
            });
            const latLng = { lat: <%= local.position.lat %>, lng: <%= local.position.lng %>}
            console.log(latLng)
            addMarker(latLng)
            setMapOnAll(map)
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ0wgzdygz9t1mZpkcatBWjMFn63s0Nnc&callback=initMap">
    </script>